* text=auto eol=lf

.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.dist.php export-ignore
CHANGELOG.md export-ignore
composer.lock export-ignore
phpunit.xml.dist export-ignore
README.md export-ignore
tests/ export-ignore
